---
BasedOnStyle: Chromium
ColumnLimit: 120
CommentPragmas: .*\@.*
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
ReflowComments: false
Linkto:scholtzjustin02@gmail.com and justin scholtz www.facebook.com
